<div
  *ngIf="alert"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Success</strong> User Registered.
  <button
    (click)="closeAlert()"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<a href="">Back</a>
<div class="container col-sm-6">
  <h3>Register User</h3>
  <br />
  <form [formGroup]="addUser" (ngSubmit)="registerUser()">
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
          required
        />
        <span *ngIf="email?.invalid && email?.touched" class="text-danger"
          >Email is required</span
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <span *ngIf="password?.invalid && password?.touched" class="text-danger"
          >Password is required</span
        >
      </div>
    </div>
    <div class="btns">
      <div class="form-group row">
        <div class="col-sm-10">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="this.addUser.invalid"
          >
            Submit
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button (click)="resetForm()" type="button" class="btn btn-info">
            Clear
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
